NASA_API_KEY=NASA_API_KEY
DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza19CaUx1UnIxaTVfcERvdml5QUpwb3EiLCJhcGlfa2V5IjoiMDFLQTlQRjJBVFNYM1pIREFCQlJWQ0NCRTYiLCJ0ZW5hbnRfaWQiOiI0OTlhOWE2MzZmMWRkNmI5NWQ1NmE4MzQ4NGU4NmYzMzE2ZjYwY2YwZDYxNjBiNmQwMzMxODA0MmRmNzAwMWY0IiwiaW50ZXJuYWxfc2VjcmV0IjoiYjUxZWE0YzMtOGM0ZC00OTc2LWE1NDktOGU5Yzc2ZjVkZTkwIn0.pn6J0M9LlZqUBeN9jwrwiIMDbrSuhP3szM-br6c6fhY"
